name: PR checks

on: pull_request

env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    HUSKY_SKIP_INSTALL: true

jobs:
    eslint:
        name: Code quality
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Setup node
              uses: actions/setup-node@v1
              with:
                  node-version: 16
            - name: Restore node_modules cache
              uses: actions/cache@v2
              with:
                  path: "**/node_modules"
                  key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
            - name: Install packages
              run: npm install
            - name: ESLint
              run: npm run eslint

    tests:
        name: Unit tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Setup node
              uses: actions/setup-node@v1
              with:
                  node-version: 16
            - name: Restore node_modules cache
              uses: actions/cache@v2
              with:
                  path: "**/node_modules"
                  key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
            - name: Install packages
              run: npm install
            - name: All tests
              run: npm run test
            - name: Add coverage comment
              uses: hokify/code-coverage-assistant-ts@master
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  monorepo-base-path: ./
